/* 
    1. Colorname
    2. hexcode : 1 - 10 a-f (#rrggbb)
    3. rgb : (0 - 255,0 - 255,0 - 255)
    4. hsl(hue, saturation, lightness)
*/

/* 
    Websites :-
    https://colorhunt.co/
    https://cssgradient.io/shades-of-blue/
*/

p{
    font-size: 32px;
    color: red;
    color: #218023;
    color: rgb(0, 255, 0);
    color: rgba(0, 255, 255, 0.189);
}